/*
  custom.css
  My custom stylesheet for my AS Physics introductory (Slidex) powerpoint
  (c) Donald Leung.  All rights reserved.
*/

html, body {
  font-size: 32px;
  background: -webkit-radial-gradient(#555, black);
  background: -moz-radial-gradient(#555, black);
  background: -o-radial-gradient(#555, black);
  background: radial-gradient(#555, black);
}

#copyright {
  font-size: 16px;
}

a {
  color: #999;
}

#slideScroll {
  font-size: 16px;
}

#presentationTitle {
  font-size: 48px;
}

#presentationSummary {
  font-size: 24px;
}

#presentationAuthor {
  font-size: 20px;
}
